.landing-page {
  position: relative;
  background-image: url(../../assets/background.jpg);
  border-radius: 10px;
  background-size: cover;
  background-position: 50% 13%;
  background-repeat: no-repeat;
}

.landing-page__overlay {
  text-align: center;
  background-color: rgba(47, 53, 42, 0.7);
}

.landing-page__content {
  max-width: 600px;
  margin: 0 auto;
  padding: 200px 10px;
}

.landing-page__title {
  margin: 0;
  font-size: 40px;
  padding-bottom: 50px;
}

.landing-page__description {
  margin: 0;
  font-size: 20px;
}

.landing-page__description-text {
  margin: 0;
  padding: 20px 0 100px;
  font-size: 16px;
}

.landing-page__button {
  padding: 8px 10px;
  background-color: #4a5d2c;
  color: #e6e5df;
  font-size: 24px;
  border-radius: 5px;
  text-decoration: none;
}

.landing-page__button:hover {
  background-color: #30390b;
}
