.info-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "weather"
    "trail-cards"
    "back";
  grid-gap: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.info-page__weather {
  grid-area: weather;
}

.info-page__trail-cards {
  grid-area: trail-cards;
}

.info-page__back-button {
  grid-area: back;
  justify-self: center;
  padding: 8px 10px;
  background-color: #4a5d2c;
  color: #e6e5df;
  font-size: 24px;
  border-radius: 5px;
  text-decoration: none;
}

.info-page__back-button:hover {
  background-color: #30390b;
}
